* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

nav {
    width: 100%;
    background-color: #F97316;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content:flex-start; 
}

img {
    width: 120px;
    padding: 0.5em;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 15px;
    border: 1px solid #37474F;
    border-radius: 5px;
    background-color: #E4E5E9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #1E3A8A;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
}

.login-container button:hover {
    background-color: #142f7a;
}


.register {
    text-align: center;
    margin-top: 20px;
}

.register a {
    color: #1E3A8A;
    text-decoration: none;
}


@media (max-width: 600px) {
    .login-container {
        width: 100%; 
        margin-top: 120px;
    }
}
