* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    /* line-height: 1.6; */
    background-color: #f2f2f2;
    color: #1E3A8A;
  }
  /* start header */
  
  .my-nav {
    background-color: #F97316;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 13px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 49px;
  }
  
  .my-nav a {
    color: #fff;
    text-decoration: none;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    font-weight: 600;
  }
  .sign-up-btn{
    background-color: #1E3A8A;
    border: 0 solid transparent;
    border-radius: 22px;
    padding: 12px 29px;
  }

  .navbar-brand img {
    height: 50px;
    width: 162px;
  }
    @media (max-width: 800px) {
      .my-nav .nav-links {
        display: none;
      }
  
      .my-nav .navbar-toggler {
        display: block;
      }
    }
  
    @media (min-width: 801px) {
      .my-nav .nav-links {
        display: flex !important;
      }
  
      .my-nav .navbar-toggler {
        display: none;
      }
    }
  
    .nav-links a,
    .nav-links button {
      margin: 0 10px;
    }
  
    .nav-links button a {
      color: white;
      text-decoration: none;
    }
    /* end header */

  .welcome {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
  }
  
  .welcome h1 {
    color: #1E3A8A;
    margin-bottom: 20px;
  }
  
  .welcome p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .welcome .btn-primary {
        background-color: #1E3A8A;
        border: 0 solid transparent;
        border-radius: 22px;
        padding: 12px 29px;
        color: white;
        font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
          font-weight: 600;
          width: 330px;
  }
    .welcome a {
      color: #fff;
      text-decoration: none;
      font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
      font-weight: 600;
    }
  

  .main {
    width:80% ;
    margin: 81px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
  }
  main .section {
    display: flex;
    flex-flow: row wrap;
  }
  
  .main article {
    text-align: center;
    padding: 20px;
    background-color: #F97316;
    color: white;
    border-radius: 30px;
    height: 100%;
  }
  
  .main h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
 
  
  .main p {
    font-size: 16px;
    
  }
 
  .welcome{
    padding:100px;
  }
  .gg{
    display: flex;
   align-items:normal;
   justify-content: space-between;
  }
  .pho{
    width: 400px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 44px;
    margin: 100px;
  }
  .paragraph{
display: flex;
justify-content: space-between;
align-items: center;
gap: 50px;
padding: 20px;
flex-direction:row;
padding: 44px;
width: 444px;
margin: 100px;
  }
  .section{
    display: flex;
    flex-direction: column;
align-items: center;
border-radius: 22px;
  }
  .container1{
    display: flex;
    flex-direction: row;
    background-color:#1E3A8A;
   }